.text-cards-horizon {

    .mainRow {
        align-items: center;
        row-gap: 50px;
    }

    &__textWrapper {
      
        p {
          margin-top: 16px;
        }
    
        .button {
          margin-top: 30px;
        }
      }
    
      &__cardsWrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        column-gap: $card-column-gap;
   
        @include media-breakpoint-up(md) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
      }   
}